/* global style */
*, ::before, ::after {
    box-sizing: border-box;}
body {
    
    font-family: sans-serif;
    background-color: white;
    min-width: 500px;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

p{
    margin: 0;
    padding: 0;
}

/* my style*/

.tabs{
    width: 440px;
    height: 330px;
    margin: 0 auto;
    background-color: blueviolet;
    padding: 20px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

#tab-btn-1{
    align-self: baseline;
}

.tabs-content {
    display: none;
    /* position: absolute; */

}

#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3,
#tab-btn-4:checked~#content-4,
#tab-btn-5:checked~#content-5{
display: block;
    

}

.tabs-content--img {
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: 270px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 10px;
}

.img1{
    background-image: url('/img/slide1.jpg');
}

.img2{
    background-image: url('/img/slide2.jpg');
}

.img3{
    background-image: url('/img/slide3.jpg');
}

.img4{
    background-image: url('/img/slide4.jpg');
}

.img5{
    background-image: url('/img/slide5.jpg');
}

.tabs-content--descr{
    color: white;

}

/* #tab-btn-1{
    right: 95px;
}

#tab-btn-2{
    right: 75px;
}

#tab-btn-3{
    right: 55px;
}

#tab-btn-4{
    right: 35px;
}

#tab-btn-5{
    right: 15px;
}

.radiobtn {
    position: absolute;
    bottom: 15px;
    cursor: pointer;
    z-index: 100;
} */