/* global style */
*, ::before, ::after {
    box-sizing: border-box;}
body {
    
    font-family: sans-serif;
    background-color: white;
    min-width: 500px;
    max-width: 1024;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
}

p{
    margin: 0;
    padding: 0;
}

/* my style*/

.container {
    padding: 5%;
}

.tabs{
    max-width: 50%;
    margin: 0 auto;
    background-color: blueviolet;
    padding: 4% 4%;
    border-radius: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.tabs-content--descr{
    display: none;
    order: 1;
}

#tab-btn-1:checked~.descr1,
#tab-btn-2:checked~.descr2,
#tab-btn-3:checked~.descr3,
#tab-btn-4:checked~.descr4,
#tab-btn-5:checked~.descr5{
    display: block;
    animation: fadeIn 2s linear;
}

@keyframes fadeIn {
    100% {opacity: 1;
    }
    0% {opacity: 0;
    };
  }

.tabs-content {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 1s linear;
}




#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3,
#tab-btn-4:checked~#content-4,
#tab-btn-5:checked~#content-5{
    height: auto;
    opacity: 1;
    transition: all 1s linear;

}

.tabs-content--img {
    width: 100%;
}

img{
    width: 100%;
}

.tabs-content--descr{
    color: white;
    margin-right:auto;
    font-size: 0.6em;
    padding-top: 5px;

}

label {
    cursor: pointer;
    margin-right:5px ;
    order: 2;
}

.radiobtn__label__bg {
    padding: 5px;
}

.radiobtn__label__bg--circle{
    width: 0.7em;
    height: 0.7em;
    background-color: black;
    border: 2px solid black;
    border-radius: 50%;
}

.radiobtn{
    display: none;
}

label:hover .radiobtn__label__bg--circle{
background-color: blueviolet;
transition: all 0.3s ease-in-out;
}

#tab-btn-1:checked~.label1 .radiobtn__label__bg--circle,
#tab-btn-2:checked~.label2 .radiobtn__label__bg--circle,
#tab-btn-3:checked~.label3 .radiobtn__label__bg--circle,
#tab-btn-4:checked~.label4 .radiobtn__label__bg--circle,
#tab-btn-5:checked~.label5 .radiobtn__label__bg--circle{
    background-color:red;
    transition: all .3s ease-in-out;
}

@media(max-width:700px){
    .tabs-content--descr{
        order: 2;
    }
    .label1 {
        margin-left: 20%;}

    .label5 {
        margin-right: 20%;}

    .tabs-content--descr {
        margin: 0 auto;
    }

    .radiobtn__label__bg--circle {
        width: 0.5em;
        height: 0.5em;
    }

}